
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />


<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/font-awesome.css" media="all">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/simple-line-icons.css" media="all">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/font-face-css.css" media="all">
<link rel="stylesheet" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="catalog/view/javascript/jquery/owl-carousel/owl.theme.css" type="text/css">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/jquery.bxslider.css" >
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/jquery.mobile-menu.css" >
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/revslider.css" >
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/jquery.growl.css" >

<link href="catalog/view/theme/kabriodemo2/stylesheet/revslider.css" type="text/css" rel="stylesheet" media="screen" />

<link href="catalog/view/theme/kabriodemo2/stylesheet/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/kabriodemo2/stylesheet/style.css" media="all">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/revslider.js"></script>
<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/common.js"></script>
<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/common1.js"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/jquery.mobile-menu.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/kabriodemo2/js/jquery.growl.js"></script>

<link href="index2964.html?route=product/category&amp;path=1028" rel="canonical" />
<script src="catalog/view/theme/kabriodemo2/js/revslider.js" type="text/javascript"></script>



<section class="main-container col2-left-layout">
<div class="main container">
  <div class="row">
                <div id="content" class="col-sm-9 col-sm-push-3">
      <div class="catalog-product-info">
           <h2 class="page-heading"> <span class="page-heading-title">Sandwich</span> </h2>
            <div class="display-product-option">
                  <div class="toolbar top-toolbar">
                    <div class="sorter">
                      <div class="view-mode">
                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                      </div>
                    </div>
                  </div><!-- toolbar -->
            </div>
          </div>
      <div class="category-description std">
<div class="slider-items-products">
  <div id="category-desc-slider" class="product-flexslider hidden-buttons">
    <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                  <div class="item">
                                        <img src="image/cache/catalog/category-img1-915x400.jpg" alt="Slider Image1" class="img-responsive" />
                     <div class="cat-img-title cat-bg cat-box"><div class="small-tag">Mega Sale</div>
                      <h2 class="cat-heading">Special fruits</h2>
                      <p>Take me out for some fresh of fruit </p></div>
                                      </div>

                  <div class="item">
                                        <img src="image/cache/catalog/category-img2-915x400.jpg" alt="Slider Image2" class="img-responsive" />
                     <div class="cat-img-title cat-bg cat-box"><div class="small-tag">New taste</div>
                      <h2 class="cat-heading">Organic Fruits</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
                                      </div>

</div>
</div>
</div>
</div>      <article class="col-main">
                                      <div class="category-products">
          <div class="pro_row products-list">
                          <div class="product-layout product-list">
              <div class="product-thumb col-item">
              <div class="item-inner">
                    <div class="item-img">
                        <div class="item-img-info">
                          <a class="product-image" href="indexd2b7.html?route=product/product&amp;path=1001_1006_1028&amp;product_id=1010" title="Roast steak">
                                                    <img src="image/cache/catalog/Restaurant/product10-700x850.jpg" alt="Roast steak" title="Roast steak"/>
                                                    </a>

                        </div>
                    </div>
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                            <a title="Roast steak" href="indexd2b7.html?route=product/product&amp;path=1001_1006_1028&amp;product_id=1010">
                            Roast steak                            </a>
                            </div>
                                                        <div class="rating">
                            <div class="ratings">
                            <div class="rating-box">
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    </div>
                            </div>
                            </div><!-- rating -->
                                                        <div class="desc std"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ..</p></div>
                            <div class="item-content">

                                                        <div class="item-price">
                            <div class="price-box">
                                                        <p class="regular-price"><span class="price">$101.00</span></p>
                                                        </div>
                            </div>
                                                        <div class="action">
                                <ul class="add-to-links">
                                <li><button type="button" title="" data-original-title="Add to Cart" class="button btn-cart link-cart" onclick="cart.add('1010');"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></button></li>
                                                                    <li>
                                    <a href="indexc80b.html?route=product/quickview&amp;product_id=1010;" class="link-quickview" data-name="Roast steak"><i class="fa fa-search"></i></a>
                                  </li>

                                  <li>
                                    <a onclick="wishlist.add('1010');" class="link-wishlist"><i class="fa fa-heart"></i></a>
                                  </li>
                                  <li>
                                      <a class="link-compare"  onclick="compare.add('1010');"><i class="fa fa-random"></i></a>
                                  </li>
                                </ul>
                              </div>

                            </div>

                        </div>
                    </div>  <!-- End Item info -->
              </div>  <!-- End  Item inner-->
              </div>
              </div><!-- item product-layout product-list col-xs-12 -->
                          <div class="product-layout product-list">
              <div class="product-thumb col-item">
              <div class="item-inner">
                    <div class="item-img">
                        <div class="item-img-info">
                          <a class="product-image" href="indexfeea.html?route=product/product&amp;path=1001_1006_1028&amp;product_id=1011" title="Veggie burger">
                                                    <img src="image/cache/catalog/Restaurant/product11-700x850.jpg" alt="Veggie burger" title="Veggie burger"/>
                                                    </a>

                        </div>
                    </div>
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                            <a title="Veggie burger" href="indexfeea.html?route=product/product&amp;path=1001_1006_1028&amp;product_id=1011">
                            Veggie burger                            </a>
                            </div>
                                                        <div class="rating">
                            <div class="ratings">
                            <div class="rating-box">
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    </div>
                            </div>
                            </div><!-- rating -->
                                                        <div class="desc std"><p>A grape is a fruiting berry of the deciduous woody vines of the botanical genus Vitis. Grapes can be..</p></div>
                            <div class="item-content">

                                                        <div class="item-price">
                            <div class="price-box">
                                                        <p class="regular-price"><span class="price">$100.00</span></p>
                                                        </div>
                            </div>
                                                        <div class="action">
                                <ul class="add-to-links">
                                <li><button type="button" title="" data-original-title="Add to Cart" class="button btn-cart link-cart" onclick="cart.add('1011');"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></button></li>
                                                                    <li>
                                    <a href="index7d4d.html?route=product/quickview&amp;product_id=1011;" class="link-quickview" data-name="Veggie burger"><i class="fa fa-search"></i></a>
                                  </li>

                                  <li>
                                    <a onclick="wishlist.add('1011');" class="link-wishlist"><i class="fa fa-heart"></i></a>
                                  </li>
                                  <li>
                                      <a class="link-compare"  onclick="compare.add('1011');"><i class="fa fa-random"></i></a>
                                  </li>
                                </ul>
                              </div>

                            </div>

                        </div>
                    </div>  <!-- End Item info -->
              </div>  <!-- End  Item inner-->
              </div>
              </div><!-- item product-layout product-list col-xs-12 -->
                      </div>
          </div>
          <div class="row">
            <div class="catalog-product-info">
            <div class="display-product-option bottom-toolbar-wrapper">
                  <div class="toolbar bottom-toolbar">
                    <div id="sort-by">
                      <label class="left">Sort By:</label>
                      <select id="input-sort" class="form-control" onchange="location = this.value;">
                                                                        <option value="http://kabriodemo2.magikthemes.com/index.php?route=product/category&amp;path=1001_1006_1028&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                                                                                                <option value="indexde53.html?route=product/category&amp;path=1001_1006_1028&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                                                                                <option value="indexeff2.html?route=product/category&amp;path=1001_1006_1028&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                                                                                <option value="indexbe3d.html?route=product/category&amp;path=1001_1006_1028&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                                                                                <option value="index5157.html?route=product/category&amp;path=1001_1006_1028&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                                                                                <option value="index0c4d.html?route=product/category&amp;path=1001_1006_1028&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
                                                                                                <option value="index536e.html?route=product/category&amp;path=1001_1006_1028&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                                                                                <option value="indexeb9b.html?route=product/category&amp;path=1001_1006_1028&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                                                                                <option value="index7a68.html?route=product/category&amp;path=1001_1006_1028&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                                                      </select>
                    </div>
                    <div class="pager">
                      <div id="limiter">
                        <label>Show:</label>
                        <select id="input-limit" class="form-control" onchange="location = this.value;">
                                                                        <option value="http://kabriodemo2.magikthemes.com/index.php?route=product/category&amp;path=1001_1006_1028&amp;limit=15" selected="selected">15</option>
                                                                                                <option value="indexaba7.html?route=product/category&amp;path=1001_1006_1028&amp;limit=25">25</option>
                                                                                                <option value="index1fe3.html?route=product/category&amp;path=1001_1006_1028&amp;limit=50">50</option>
                                                                                                <option value="index66dd.html?route=product/category&amp;path=1001_1006_1028&amp;limit=75">75</option>
                                                                                                <option value="index0916.html?route=product/category&amp;path=1001_1006_1028&amp;limit=100">100</option>
                                                                      </select>
                      </div>
                    </div>
                    <div class="bottom_pagination">
                      <div class="col-sm-6 text-left"></div>
                      <!-- <div class="col-sm-6 text-right"></div> -->
                    </div>
                    <div class="sorter">
                      <div class="view-mode">
                        <a href="index6431.html?route=product/compare" id="compare-total">Product Compare (0)</a>
                      </div>
                    </div>
                  </div><!-- toolbar -->
            </div>
          </div>

          </div>
            </article>

     </div>
     <aside id="column-left" class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
    <div class="side-nav-categories">
  <div class="block-title">Categories</div>
  <div class="box-content box-category">

    <ul>
             <li class="">
               <a href="indexf588.html?route=product/category&amp;path=1001" class="active">Veg</a>
                        <span class="subDropdown minus"></span>
        <ul class="level0" style="display: block;">

          <li>
                        <a href="index0835.html?route=product/category&amp;path=1001_1006" class="active">Breakfast</a>


                          <span class="subDropdown minus"></span>
              <ul class="level1" style="display: block;">
                                <li>
                                    <a href="index37b4.html?route=product/category&amp;path=1001_1006_1028" class="active">Sandwich</a>
                                  </li>
                                <li>
                                    <a href="index64d3.html?route=product/category&amp;path=1001_1006_1029">South Indian</a>
                                  </li>
                                <li>
                                    <a href="index1f51.html?route=product/category&amp;path=1001_1006_1030">Parathas</a>
                                  </li>
                                <li>
                                    <a href="index0c20.html?route=product/category&amp;path=1001_1006_1031">Burger</a>
                                  </li>
                              </ul>
                        </li>

          <li>
                        <a href="index058d.html?route=product/category&amp;path=1001_1007">Starters</a>


                          <span class="subDropdown plus"></span>
              <ul class="level1" style="display: none;">
                                <li>
                                    <a href="indexff6f.html?route=product/category&amp;path=1001_1007_1032">Paneer Tikka</a>
                                  </li>
                                <li>
                                    <a href="index0171.html?route=product/category&amp;path=1001_1007_1033">Achaari Chaap</a>
                                  </li>
                                <li>
                                    <a href="index0d7e.html?route=product/category&amp;path=1001_1007_1034">Mushroom Tikka</a>
                                  </li>
                                <li>
                                    <a href="index9239.html?route=product/category&amp;path=1001_1007_1035">Manchurian</a>
                                  </li>
                              </ul>
                        </li>

          <li>
                        <a href="index7948.html?route=product/category&amp;path=1001_1008">Vegetables</a>


                          <span class="subDropdown plus"></span>
              <ul class="level1" style="display: none;">
                                <li>
                                    <a href="index27bf.html?route=product/category&amp;path=1001_1008_1036">Paneer Pasanda</a>
                                  </li>
                                <li>
                                    <a href="index7084.html?route=product/category&amp;path=1001_1008_1037">Kadhai Mushroom</a>
                                  </li>
                                <li>
                                    <a href="index6c81.html?route=product/category&amp;path=1001_1008_1038">Navratan Korma</a>
                                  </li>
                                <li>
                                    <a href="indexf046.html?route=product/category&amp;path=1001_1008_1039">Malai Kofta</a>
                                  </li>
                              </ul>
                        </li>

          <li>
                        <a href="index9428.html?route=product/category&amp;path=1001_1010">Rice</a>


                          <span class="subDropdown plus"></span>
              <ul class="level1" style="display: none;">
                                <li>
                                    <a href="index5b00.html?route=product/category&amp;path=1001_1010_1044">Veg Biryani</a>
                                  </li>
                                <li>
                                    <a href="indexf1db.html?route=product/category&amp;path=1001_1010_1045">Fried Rice</a>
                                  </li>
                                <li>
                                    <a href="indexc417.html?route=product/category&amp;path=1001_1010_1046">Jeera Rice</a>
                                  </li>
                                <li>
                                    <a href="indexdffd.html?route=product/category&amp;path=1001_1010_1047">Steam Rice</a>
                                  </li>
                              </ul>
                        </li>

          <li>
                        <a href="index139d.html?route=product/category&amp;path=1001_1011">Desserts</a>


                          <span class="subDropdown plus"></span>
              <ul class="level1" style="display: none;">
                                <li>
                                    <a href="index6b0b.html?route=product/category&amp;path=1001_1011_1048">Gulab Jamun</a>
                                  </li>
                                <li>
                                    <a href="indexfa7b.html?route=product/category&amp;path=1001_1011_1049">Rasmalai</a>
                                  </li>
                                <li>
                                    <a href="indexbd14.html?route=product/category&amp;path=1001_1011_1050">Rasgulla</a>
                                  </li>
                                <li>
                                    <a href="indexfefa.html?route=product/category&amp;path=1001_1011_1051">Phirni</a>
                                  </li>
                              </ul>
                        </li>
                  </ul>
              </li>
          </ul>
  </div>
</div>
    <div class="hot-banner"><img alt="banner" src="catalog/view/theme/kabriodemo1/image/banner_home1.jpg"></div>
    <div class="panel panel-default special-products">
<div class="panel-heading">Specials</div>


    <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="indexa9bd.html?route=product/product&amp;product_id=1002"><img src="image/cache/catalog/Restaurant/product2-700x850.jpg" alt="Aloo kathi roll" title="Aloo kathi roll" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="indexa9bd.html?route=product/product&amp;product_id=1002">Aloo kathi roll</a></h4>


                <p class="price">
                    <span class="price-new">$200.00</span> <span class="price-old">$279.99</span>
                            </p>
              </div>

    </div>
  </div>
    <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="indexb3b3.html?route=product/product&amp;product_id=1015"><img src="image/cache/catalog/Restaurant/product15-700x850.jpg" alt="Glass Noodle Salad" title="Glass Noodle Salad" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="indexb3b3.html?route=product/product&amp;product_id=1015">Glass Noodle Salad</a></h4>


                <p class="price">
                    <span class="price-new">$190.00</span> <span class="price-old">$200.00</span>
                            </p>
              </div>

    </div>
  </div>
    <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="indexfe6d.html?route=product/product&amp;product_id=1006"><img src="image/cache/catalog/Restaurant/product6-700x850.jpg" alt="Grilled Swordfish" title="Grilled Swordfish" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="indexfe6d.html?route=product/product&amp;product_id=1006">Grilled Swordfish</a></h4>


                <p class="price">
                    <span class="price-new">$180.00</span> <span class="price-old">$200.00</span>
                            </p>
              </div>

    </div>
  </div>
    <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="index2998.html?route=product/product&amp;product_id=1017"><img src="image/cache/catalog/Restaurant/product17-700x850.jpg" alt="Plato de comida elegante" title="Plato de comida elegante" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="index2998.html?route=product/product&amp;product_id=1017">Plato de comida elegante</a></h4>


                <p class="price">
                    <span class="price-new">$90.00</span> <span class="price-old">$100.00</span>
                            </p>
              </div>

    </div>
  </div>
    </div>    <div class="custom-slider">
        <div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
                                </ol>

                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">


                  <div class="item active">
                    <a href="#" target="_blank" title="50% OFF">
                    <img  src="image/cache/catalog/slide2-390x512.jpg" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' title="50% OFF" alt="50% OFF"/>
                    </a>
                    <div class="carousel-caption">
                      <h3>
                        <a href="#" target="_blank" title="50% OFF">
                          50% OFF                        </a>
                      </h3>
                      <p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a class="link" href="#">Buy Now</a></p>
                    </div>
                  </div>



                  <div class="item ">
                    <a href="#" target="_blank" title="Hot collection">
                    <img  src="image/cache/catalog/slide1-390x512.jpg" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' title="Hot collection" alt="Hot collection"/>
                    </a>
                    <div class="carousel-caption">
                      <h3>
                        <a href="#" target="_blank" title="Hot collection">
                          Hot collection                        </a>
                      </h3>
                      <p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></p>
                    </div>
                  </div>



                  <div class="item ">
                    <a href="#" target="_blank" title="Summer collection">
                    <img  src="image/cache/catalog/slide3-390x512.jpg" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' title="Summer collection" alt="Summer collection"/>
                    </a>
                    <div class="carousel-caption">
                      <h3>
                        <a href="#" target="_blank" title="Summer collection">
                          Summer collection                        </a>
                      </h3>
                      <p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></p>
                    </div>
                  </div>

                                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>

                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
              </div>
</div>
</div>  </aside>
        </div>
</div>
</section>
