/********************************************************
			Templatemela Custom Styles
********************************************************/
.tm-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  padding:0;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  /*border-color: blue;*/
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/megnor/grabbing.png") 8 8, move;
}
.customNavigation {
  position: absolute;
  z-index: 959;
  width: 100%;
  top: -43px;
  direction: ltr !important;
  right: 0;
}
#tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
    left: 37%;
}
#tmtestimonialcmsblock .customNavigation a.next {
    right: 37%;
}
.customNavigation a {
    border: 1px solid #e6e5e1;
    color: #a3a3a3 !important;
    cursor: pointer;
    font-weight: 400;
    height: 30px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 30px;
    font-size: 0;
}
.customNavigation a:hover {
  background: #91a61d none repeat scroll 0 0;
  border: 1px solid #91a61d;
}

.customNavigation a:hover:before{ color: #fff; }
.customNavigation a.prev {
  right: 36px;
}

.special-products .customNavigation a.prev, .lastest_block .customNavigation a.prev {
  right: 48px;
}
.product-accessories .customNavigation a.prev,.crosssell-products .customNavigation a.prev,.productscategory-products .customNavigation a.prev{
  right:45px;
}
.customNavigation a.next {
  right: 0px;
}
.special-products .customNavigation a.next, .lastest_block .customNavigation a.next{
  right: 12px;
}
@media(max-width: 1450px){
	.special-products .customNavigation a.next{right: 15px;}
	.special-products .customNavigation a.prev{right: 55px;}
}
.product-accessories .customNavigation a.next,.crosssell-products .customNavigation a.next,.productscategory-products .customNavigation a.next{
  right:10px;
}
.js-qv-mask .customNavigation a.next {
  right: 0;
}
#tmtestimonialcmsblock .customNavigation {
    bottom: 6px;
    top: auto;
}
@media (max-width: 1300px) {
}
@media (max-width: 991px) {
	.customNavigation a.prev {
		/*left: 0px;*/
	}
	.customNavigation a.next {
		right: 0px;
	}
	#main .images-container .js-qv-mask { margin:0px; }
}
@media (max-width: 767px) {
}
.customNavigation a.prev::before {
    content: "\E314";
    font-family: "Material Icons";
    position: absolute;
    font-size: 18px;
    left: 0;
    top: 2px;
    line-height: 24px;
    right: 0;
}
.customNavigation a.next::before {
    content: "\E315";
    font-family: "Material Icons";
    position: absolute;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 2px;
    line-height: 24px;
    left: 0;
}
#tmleftbanner img,
#tmrightbanner img{
	max-width: 100%;
}	

/******* Subbanner *******/
#tmsubbanner {
  background: none;
  float: right;
  margin: 0;
  padding: 0;
  width: 24.8%;
}

#tmsubbanner li {
    float: right;
    overflow: hidden;
}
#tmsubbanner li a{
   display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.5x ease-in-out;
     -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -ms-transition:  all 0.5s ease-in-out;
    -o-transition:  all 0.5s ease-in-out;
}
#tmleftbanner li,#tmrightbanner li,#tmrightbanner1 li,#tmrightbanner2 li {
  overflow: hidden;
}
#tmleftbanner li a,#tmrightbanner li a,#tmrightbanner1 li a,#tmrightbanner2 li a{
  display: block;
  position: relative;
}
#tmrightbanner1 li img{
	max-width: 100%; 
	transition: all 1s linear 0s;
	-webkit-transition: all 1s linear 0s;
	-moz-transition: all 1s linear 0s;
	-ms-transition: all 1s linear 0s;
	-o-transition: all 1s linear 0s;
}
#tmrightbanner1 li:hover img{
	transform: scale(1.1);
		 -webkit-transform: scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	-moz-transform:scale(1.1);
}
#tmrightbanner2 li img,#tmleftbanner li img,#tmsubbanner li a {
    transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
max-width: 100%;

}
#tmsubbanner li:first-child a {
  margin-bottom: 30px;
}
#tmsubbanner li a img{ 
	max-width: 100%;     
 	 transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-moz-transform:scale(1);
    transition: all 1s linear 0s;
	-webkit-transition: all 1s linear 0s;
	-moz-transition: all 1s linear 0s;
	-ms-transition: all 1s linear 0s;
	-o-transition: all 1s linear 0s;
}
@media (max-width: 1199px) {
.customNavigation a.prev::before{ right: 2px; }
#tmsubbanner li:first-child a {
  margin-bottom: 22px;
}
}
#tmsubbanner li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 80px double rgba(55,55,55,0);
    z-index: 1;
    transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -ms-transition:  all 0.5s ease-in-out;
    -o-transition:  all 0.5s ease-in-out;
}
#tmsubbanner li a:hover::before{
  opacity: 0;
  border:0px double rgba(55,55,55,0.2);
}
@media (max-width: 991px) {
  #tmrightbanner2 li img,#tmrightbanner1 li img,#tmrightbanner li img,#tmleftbanner li img,#tmsubbanner li a {width: 100%;}
  .js-qv-mask .customNavigation a.next{
    right: 0;
  }
	#tmsubbanner li:first-child a {
	  margin-bottom: 0;
	}
 @media(max-width: 767px){

	.special-products .customNavigation a.prev, .lastest_block .customNavigation a.prev {
	  right: 48px;
	}
	.special-products .customNavigation a.next, .lastest_block .customNavigation a.next {
	  right: 12px;
	}
	#tmsubbanner li a img {
	  height: 288px;
	}
 }

 @media(max-width: 480px){
      .customNavigation {
        position: relative !important;
        z-index: 959;
        width: 100%;
        top: -45px;
        right: 0;
        left: 0;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
   .lastest_block .customNavigation{ top: -30px;}
    .customNavigation a.prev {
        float: none;
        left: -36px !important;
        right: 0 !important;
        margin: 0 auto;
        text-align: center;
    }
    .customNavigation a.next {
        float: none;
        left: 0 !important; 
        right: -36px !important;
        margin: 0 auto;
        text-align: center;
    }
 
  .special-products .customNavigation {top:0;}
  #tmsubbanner li:first-child{ margin-bottom: 20px; margin-right: 0;}
  #tmrightbanner2 li img:hover, #tmleftbanner li img:hover, #tmsubbanner li a:hover img {
 	 transform: scale(1);
		 -webkit-transform: scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		-moz-transform:scale(1);
	}
	.special-products .customNavigation {
	  top: 45px !important;
	}
	.product-accessories .customNavigation {
	  top: 5px !important;
	}
	.crosssell-products .customNavigation {
      top: 10px;
  }
	#tmsubbanner li a img {
	  height: auto;
	}
	#tmsubbanner li a img,#tmrightbanner2 li img, #tmrightbanner1 li img, #tmrightbanner li img, #tmleftbanner li img, #tmsubbanner li a {
	  width: auto;
	}
	.brands .customNavigation {
	  top: -20px !important;
	}
 }
 @media (max-width:1430px){
   #tmtestimonialcmsblock .customNavigation {
      top: auto;
      bottom: 0px;
    }
 }
@media (max-width:1399px){
    #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
      left: 34%;
  }
    #tmtestimonialcmsblock .customNavigation a.next {
      right: 34%;
  }
}
@media (max-width:1199px){
    #tmtestimonialcmsblock .customNavigation a.next {
      right: 32%;
    }
    #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
      left: 32%;
    }
    #tmtestimonialcmsblock .customNavigation {
      top: auto;
      bottom: 5px;
    }
}
@media (max-width:991px){
  #tmsubbanner li:first-child{
    margin-bottom: 23px;
  }
  #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
    left: 45% !important;
  }
  #tmtestimonialcmsblock .customNavigation a.next {
      right: 45% !important;
  }
  #tmtestimonialcmsblock .customNavigation {
      top: auto;
      bottom: 45px;
  }

 

}
@media (max-width:767px){
  #tmsubbanner {
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
    #tmsubbanner li{
        float: none;
        width: auto;
        display: inline-block;
    }
    #tmsubbanner li:first-child{
      margin-bottom: 0;
      margin-right: 15px;
    }
    .tm-hometabcontent .customNavigation{
      top: -90px;
    }
}
@media (max-width: 660px){
    #tmtestimonialcmsblock .customNavigation a.next{
        right: 44% !important;
    }
    #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
        left: 44% !important;
    }
}
@media (max-width: 603px){
    #tmsubbanner li a img {
        height: auto;
        max-width: 100%;
    }
}
@media (max-width:550px){
    #tmsubbanner li:first-child{
        margin-right: 8px;
    }
}
@media (max-width:560px){
    #tmtestimonialcmsblock .customNavigation a.next {
      right: 43% !important;
    }
    #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
        left: 43% !important;
    }
}
@media (max-width:542px){
  #tmsubbanner li {
      float: left;
      width: 48.3%;
      display: inline-block;
  }
  #tmsubbanner li:first-child {
      margin-right: 15px;
  }
}
@media (max-width: 480px){
  #tmsubbanner li{
    float: none;
    width: 48%;
  }
  #tmsubbanner li a{
    width: auto;
    display: inline-block;
  }
  #tmsubbanner li:first-child {
      margin-right: 10px;
  }
  .tm-hometabcontent .customNavigation {
      top: -40px;
      margin: 40px auto;
  }
  .special-products .customNavigation {
      top: 10px !important;
  }
  #tmtestimonialcmsblock .customNavigation{
    position: absolute !important;
  }
  .productscategory-products .customNavigation {
      top: 10px !important;
  }
  #tmtestimonialcmsblock .customNavigation a.next {
      right: -12% !important;
  }
  #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
      left: -12% !important;
  }
}
@media (max-width:381px){
  #tmsubbanner li:first-child {
      margin-right: 7px;
  }
}