/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label {
    text-align: right;
}
label,
.label,
.products .all-product-link {
    text-align: left;
}
.material-icons.menu-open{
    float: right;
}
@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {float: right;}
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.contact-rich .icon,
.products-selection .display li {
    float: right;
}

.pagination .page-list {
    float: left;
}
.menu-title{
    float: right;
}

/******* Header ********/

#header .header-nav .left-nav,
#header .header-top .menu > ul > li,
#header .header-top .header_logo,
.top-menu .sub-menu ul[data-depth="1"] > li {
    float: right;
}
#tmcms1block .offermaintext p a {
    padding: 0 22px 0 0;
}
#tmcms1block .offermaintext p a::before{
  right: 0;
  left: auto;
  transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); 
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
#tmcmssliderbottomblock, #tmcmsinfo_block1, .first-content, .second-content, .third-content,.icon-left1{ float: right;}
.cms-icon{ float: right; margin-left: 4px; margin-right: auto;}
.icon-left1{ background-position: right 0 top 0;}
.first-content:hover .icon-left1, .first-content.icon-left1:hover {
  background-position: right 0 top -187px;
}
.icon-left2 {
  background-position: right 0 top -371px;
  float: right;
  margin: 0 16px 0 5px;
}
.second-content:hover .icon-left2, .icon-left2:hover {
  background-position: right 0 top -557px;
}

.service-right{ text-align: right;}
.icon-left3 {
  background-position:right 0 top -745px;
  float: right;
  margin: 0 27px 0 4px;
}
.third-content:hover .icon-left3, .icon-left3:hover {
  background-position: right 0 top -932px;
}
.topdiv, #tm_vertical_menu_top{ float: left;}
#tm_vertical_menu_top .block-title{
  float: right;
}
#header .header-nav .right-nav
{
    float: left;
}
.search-widget {
    float: right;
}
#tm_vertical_menu_top #_desktop_top_menu {
  float: right;
  padding: 0 0 0 14px;
}
#tm_vertical_menu_top #top-menu{ float: right;}
.header-top .search-widget {
  padding: 0 36px 0 0;
}
#_desktop_cart .cart-products-count.shoppingproductcount{
  left: -8px;
  right: auto;
}
#tmsubbanner li{
    float: left !important;
}
.contact-link {
    background-position: right 0 top 5px;
    padding: 0 20px 0 0;
}
.contact-link:hover {
  background-position: right 0 top 5px;
}
.contact-link span{ padding-right: 5px; padding-left: 0;}
.tabs .nav-tabs .nav-item:first-child .nav-link{
    padding-right: 0;
    padding-left: 10px;
    background: transparent url("../img/megnor/footer_pipe.html") no-repeat scroll left 6px;
}
.tabs .nav-tabs .nav-item:last-child .nav-link{
    background: none;
}
#top-menu > li.menu-1 {
  background-position: right 19px top 10px;
}
#top-menu > li.menu-2 {
  background-position: right 19px top -52px;
}
#top-menu > li.menu-3 {
  background-position: right 19px top -113px;
}
#top-menu > li.menu-4 {
  background-position: right 19px top -174px;
}
#top-menu > li.menu-5 {
  background-position: right 19px top -236px;
}
#top-menu > li.menu-6 {
  background-position: right 19px top -297px;
}
#top-menu > li.menu-7 {
  background-position: right 19px  top -359px;
 }
#top-menu > li.menu-8 {
  background-position: right 19px top -421px;
}
#top-menu > li.menu-9 {
  background-position: right 19px top -482px;
}
#top-menu > li.menu-10 {
  background-position: right 19px top -544px;
}
#top-menu > li.menu-11 {
  background-position: right 19px top -607px;
}
#top-menu > li.menu-12 {
  background-position: right 19px top -667px;
}
#top-menu > li.menu-13 {
  background-position: right 19px top -730px;
}
#top-menu > li.menu-14 {
  background-position: right 19px top -791px;
}
#top-menu > li.menu-15 {
  background-position: right 19px top -852px;
}
#top-menu > li.menu-16 {
  background-position: right 19px top 10px;
}
#top-menu > li.menu-17 {
  background-position: right 19px top -52px;
}
#top-menu > li.menu-18 {
  background-position: right 19px top -113px;
}
#top-menu > li.menu-19 {
  background-position: right 19px top -174px;
}
#top-menu > li.menu-20 {
  background-position: right 19px top -236px;
}
.search-widget form input[type=text] {
    padding: 1px 24px 0 44px;
}
.search-widget form button[type="submit"] {
  background-position: right 7px top 10px;
  left: 0;
  right: auto;
}
.search-widget form button[type="submit"]:hover, .search-widget form input[type="text"]:focus + button[type="submit"] {
  background-position: right 7px top 10px;
}
#header .header-top .menu > ul > li:first-child a {
    padding-right: 0px;
    padding-left: 18px;
}
#header .header-nav .language-selector {
    border-left: 1px solid;
    border-right: none;
}
#header .header-nav .currency-selector{
    margin: 0 10px 0 0;
    border-left: 1px solid;
    border-right: none;
}
#header .currency-selector .expand-more, #header .language-selector .expand-more{
    margin: 0 0 0 5px;
}

#header .header-nav .blockcart {
    margin-left: 0px;
   margin-right: 10px;
}
#header .cart_block {
    left: -20px;
    right: auto;
}
.cart_block .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
.cart_block .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
.cart_block .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
.cart_block .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 20px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 40px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 50px;
}
/******* Product ********/
#products .product-description, .products .product-description, .product-accessories .product-description{
    text-align: right;
}
.products .product-price-and-shipping, .product-price{ font-size: 16px;}
.products .regular-price, #cart .cart-grid-body .cart-item .product-discount .regular-price{ font-size: 13px;}
.products .product_list li .product-miniature .product-actions{
	transform: translateX(150px);
	-webkit-transform: translateX(150px);
	-ms-transform: translateX(150px);
	-o-transform:  translateX(150px);
	-moz-transform:  translateX(150px);
}
#breadcrumb_wrapper{
  float: left;
}
#index footer{
  margin-top: 50px;
}
.lastest_block.tmblog-latest .blog-item .blog-meta{
  text-align: right !important;
}
.desc_blog{
  clear: both;
}
#left-column .block, #right-column .block, #left-column .links, #right-column .links {
  float: right;
}
#left-column .products .product-item, #right-column .products .product-item{ float: right;}
.products .product-miniature .product-flags .new.on-sale, .products .product-miniature .online-only.on-sale, .products .product-miniature .on-sale.on-sale, .products .product-miniature .discount-percentage.on-sale {
  left: auto;
  right: -100%;
}
.products .product-miniature:hover .product-flags .new.on-sale, .products .product-miniature:hover .online-only.on-sale, .products .product-miniature:hover .on-sale.on-sale, .products .product-miniature:hover .discount-percentage.on-sale {
    left: auto;
    right: 10px;
}
.products .product-miniature .product-flags .new.online-only, .products .product-miniature .online-only.online-only, .products .product-miniature .on-sale.online-only, .products .product-miniature .discount-percentage.online-only {
  left: -100%;
  right: auto;
  text-align: right;
}
.products .product-miniature:hover .product-flags .new.online-only, .products .product-miniature:hover .online-only.online-only, .products .product-miniature:hover .on-sale.online-only, .products .product-miniature:hover .discount-percentage.online-only{
  left: 10px;
  right: auto;
}
.product-miniature .product-flags .new{
    left: auto;
    right: -100%;
}
.product-miniature:hover .product-flags .new{
  right: 10px;
  left: auto;
}
.products .product_list .quick-view{ left: -100%; right: auto;}
.products .product_list li:hover .quick-view{
  left: 0;
  right: auto;
}
.products .product-miniature .discount{
    right: 10px;
    left: auto;
}
.products .product_list {
    padding: 0px;
}
#products .products .list li.product_item .center-block {
    text-align: right;
	padding: 0 20px 0 10px;
}
#search_filters .js-search-filters-clear-all .material-icons{ margin-left: 0;}
.products .product_list li.product_item {
    float: right;
}
.product-quantity .qty,
.product-quantity .input-group-btn-vertical {
    float: right;
}
.product-quantity .add {
    float: right;
}

#tmcmsblock .image1{
    float: right;
    margin: 0 0 0 20px;
}
#tmcmsblock .text-content{
    text-align: right;
}
#tmcmsblock .text i{
    float: left;
    right: auto;
    left: 0;
}
#tmcms3_block {
    float: left;
    margin-left: 6px;
    margin-right: 0;
}
#tmcmsblock .right .text-content{
    margin: 0 20px !important;
}
/******* General ********/

ul,
ol {
    padding-right: 0;
}

#cart #content-wrapper {
  margin-right: 30px;
  margin-left: auto;
}
.layout-right-column #content-wrapper{ padding-left:15px; padding-right:0px; }
.top_button {
    left: 15px;
    right: auto!important;
}
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}

.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}
.block_newsletter form input.btn {
    margin-left: 0px;
    margin-right: 10px;
}
#block-reassurance img {
    margin-left: 10px;
    margin-right: 0px;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}
.products-selection .sort-by {
    text-align: left;
    margin-left: 0px;
}

.pagination a .material-icons {
    margin-left: 0px;
    margin-right: -2px;
}
.products-sort-order .dropdown-menu {
  left: auto;
  right: 0;
}
.pagination .page-list li{margin: 0 4px 0 0;}
#product-availability {
    margin-left: 0px;
    margin-right: 10px;
}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #ddd;
    border-right: 0px;
}
#blockcart-modal .cart-content button {
    margin-right: 0;
    margin-left: 0.3125rem;
}
.cart-summary-line .label {
    float: right;
}
body#checkout .custom-checkbox span{ margin-left: 8px; margin-right: 3px;}
body#checkout .condition-label {
  margin-left: auto;
  margin-right: 2.5rem;
}
body#checkout .additional-information {
  margin-left: auto;
  margin-right: 2.875rem;
}
body#checkout section.checkout-step .custom-radio{	
    margin-left: 4px;
    margin-right: 0px;
}
body#checkout section.checkout-step .address-item .custom-radio {
  margin-right: auto;
  margin-left: 5px;
}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
  float: left;
  margin-left: 0.125rem;
  margin-right: auto;
}
#checkout #delivery > label {
  text-align: right;
}
#checkout #delivery #delivery_message{ float: right;}
body#checkout section.checkout-step .payment-options .custom-radio {
  margin-left: 15px;
  margin-right: auto;
}
.done{
    margin-left: 1.5625rem;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] a{
	padding-right:15px;
	padding-left: 0;
}
 .block-categories .category-sub-menu li[data-depth="1"] > a::before {
    right: 0;
    left: auto;
 }
 .block-categories .category-sub-menu li:not([data-depth="0"]):not([data-depth="1"]) a::before{
    margin-right: 0;
    margin-left: 0.3125rem;
 }
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#left-column .block_content .allproducts, #right-column .block_content .allproducts{
    float: left;
}
#blockcart-modal .modal-title{ text-align: right !important; }
#_desktop_cart{
    float: left;
    clear: left;
}
.blockcart-header a #bgimage {
  background-position: right 0 top 0;;
  left: auto;
  right: -30px;
}
#_desktop_cart .blockcart:hover .blockcart-header a #bgimage {
  background-position: right 0 top 0;
}
#_desktop_user_info {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}
#_desktop_user_info .tm_userinfotitle {
  background-position: right 10px top 10px;
}
.links_block_top{
    float: right;
    clear: right;
}

.links_block_top li{
    float: right;
}

.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li{
    float: right;
	margin: 0 0 0 20px !important;
}
#tm_vertical_menu_top .more-view {
  padding: 0;
}
#tm_vertical_menu_top .more-wrap .material-icons {
  float: left;
  left: 0;
}
.flexslider{ float: right;}
#tmsubbanner{ float: left !important;}

#left-column .left-part, #right-column .left-part {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}
#mobile_top_menu_wrapper .block-title{
  float: right;
}
#left-column .products .product-item a, #right-column .products .product-item a{ float: right;}
#left-column .products .product-title, #right-column .products .product-title{ float: right;}
#left-column .products .product-item a, #right-column .products .product-item a{ float: right; text-align: right;}
#left-column .right-part .product-actions .add-to-cart, #right-column .right-part .product-actions .add-to-cart{ float: right; text-align: right;}
#index .tm-hometabcontent .products .product_list li.loadmore .tm-message i, .special-products .products .product_list li.loadmore .tm-message i {
  margin-left: 10px;
  margin-right: auto;
}
.vertical-menu .top-menu .sub-menu{

	right: 229px;
	left: auto;
	 transform-origin: right center 0;
	-webkit-transition-duration: right center 0;
	-moz-transition-duration: right center 0;
	-ms-transition-duration: right center 0;
	-o-transition-duration: right center 0;
}

.vertical-menu .top-menu a[data-depth="0"]:hover, .vertical-menu .top-menu .sub-menu a:hover{
    background-position: right -8px;
}
#block-contact_list i{
    float: right;
    margin: 11px 0 0 5px;
}
.test-image{
  float: right;
}
.cms-box-heading{
  text-align: right;
  float: right;
  padding: 21px 15px 0 0px
}
.test-desc{
  text-align: right;
}
.block_newsletter{
    float: right;
}
.block_newsletter .title{
    margin: 0 35px 0 0;
    background-position: right 6px;
    padding: 9px 61px 8px 20px;
}
#tmfootercmsblock{
    float: right;
    padding: 0 0 0 50px;
}
#tmpaymentcmsblock {
  float: right;
  padding: 0 20px 0 0;
}
.block-contact{
    padding: 0;
}
.footer-container .links{
    border-left: none;
	padding:0 20px 0 0;
	float:right;
}
.payment > p {
  margin: 0 0 10px 3px;
}
#block-contact_list li .contactdiv {
  padding-left: 0;
  padding-right: 15px;
}
.footer-after #links_block_footer{ float: right;}
.copyright{ text-align: left;}
#tm_footerlink li{ padding: 0 7px 0 11px;}
.footer-after #links_block_footer #tm_footerlink li::after {
  left: 0;
  right: auto;
}
#tm_footerlink li:first-child{ padding: 0 0 0 11px;}
#tm_footerlink li:last-child {
    background: transparent;
}
.quickview .mask.additional_slider .customNavigation a.next{
    right: -12px;
}

#left-column .products .product-description, #right-column .products .product-description{
    text-align: right;
}
.modal-dialog .product-actions .control-label {
    width: auto;
    float: right;
    padding-left: 20px;
    padding-right: 0;
}
.footer-container .links::before{
  right: 0;
  left: auto;
}
.modal-footer{
    text-align: right; 
}
#product .product-actions .control-label {
    width: auto;
    float: right;
    margin-left: 20px;
    margin-right: auto;
}
#product .product-quantity .add {
    float: right;
    margin-right: 0px;
    width: 100%;
}


#_mobile_language_selector{
    float: right;
}
#_mobile_currency_selector{
    float: right;
}
.dropdown-menu{
    left: 0;
    text-align: right;
    right: auto;
	float:right;
}
.currency-selector a{ padding: 2px 10px 2px 1px !important;}
.currency-selector .dropdown-menu.hidden-md-down.currencies_ul li {
  margin-left: 10px;
  margin-right: auto;
}
.page-addresses .address .address-body {
  padding: 20px 0 0 20px;
}
.page-addresses .address .address-footer a {
  margin-left: 10px;
  margin-right: auto;
}
.order-message-form .text-xs-center {
  text-align: left !important;
}
.text-xs-right {
  text-align: left !important;
}
#stores .page-stores .store-item-container .divide-left {
  border-left: medium none;
  border-right: 1px solid #ebebeb;
}
#brand_list li.brand .brand-inner .brand-img, #brand_list li.brand .brand-inner .brand-infos {
  float: right;
}
#brand_list li.brand .brand-inner .brand-products {
  border-left: medium none;
  border-right: 1px solid #dddddd;
  padding: 0 30px 15px 0;
}
.cart_block .block_content .checkout.card-block{
    text-align: left;
	float: left;
}
#product-modal .modal-content .modal-body .product-images {
    margin-right: 20px;
    margin-left: 0;
}

#tm_toplink {
  float: left;
}

.btn.prev.feature_prev{
    left: 0;
}
.btn.next.feature_next{
    
}
#spe_res{

}
.products-section-title{
    text-align: right;
}
.tm-hometabcontent .products-section-title {
  float: right;
}
.tm-hometabcontent .tabs .nav-tabs .nav-item:last-child::after {
  display: block;
}
#products .product-title, .products .product-title, .product-accessories .product-title{
  float: right;
}
.btn.prev.accessories_prev{
    left: 0;
}
.btn.next.accessories_next{
    left: 35px;
}
.btn.prev.crosssell_prev{
    left: 0;
}
.btn.next.crosssell_next{
    left: 35px;
}
.btn.prev.productscategory_prev{
    left: 0;
}
.btn.next.productscategory_next{
    left: 35px;
}
#links_block_top {
  clear: left;
  float: left;
}
#links_block_top li{
    float: right;
}
.delivery-option .col-sm-1 {
    float: right;
}
.delivery-option .col-sm-5.col-xs-12 {
    float: right;
}
body#checkout section.checkout-step .address{
    text-align: right;
    margin-right: 1.5625rem;
}
.tabs .nav-tabs{
    text-align: right;
}
#header #links_block_top li::before {
  border-right: 1px solid #ef0047;
  content: " ";
  height: 12px;
  left: 0;
  position: absolute;
  right: auto;
  top: 7px;
}
#header #links_block_top li:last-child::before {
  display: none;
}
#header #links_block_top li::after{ display: none;}
#header #links_block_top li:last-child a {
  padding-left: 0;
  padding-right: 18px;
}
#_desktop_logo{
    float: right;
}
.cart-price{

    text-align: left;
}
#_desktop_cart .value{
    float: right;
    padding: 0 20px 0 0;
}
#header .header-nav .user-info .account{
    margin: 0 10px 0 0 ;
}
#_desktop_contact_link {
    clear: left;
    float: left;
}
.customNavigation a.prev {
    left: 0 ;
    right: auto !important;
}
.special-products .customNavigation a.prev, .lastest_block .customNavigation a.prev {
  left: 12px;
  right: auto !important;
}
.special-products .customNavigation a.next, .lastest_block .customNavigation a.next {
  left: 48px;
  right: auto !important;
}
#tmtestimonialcmsblock .customNavigation a.prev {
  left: 22px;
  right: auto !important;
}
.brands .customNavigation a.next {
    left: 36px;
    right: auto;
}
.cart-grid-right.col-xs-12.col-lg-4 {
    padding-left: 10px;
    padding-right: 20px;
}
body#checkout .cancel-address {
    margin: 0 0 0 10px;
}
.block-categories .block_content .arrows .arrow-right, .block-categories .block_content .arrows .arrow-down{
    left: 2px;
    right: auto;
}
.js-qv-mask .customNavigation a.next {
    left: auto;
    right: 0px !important;
}
.product-accessories .customNavigation a.prev, .crosssell-products .customNavigation a.prev, .productscategory-products .customNavigation a.prev {
  left: 10px;
  right: auto !important;
}
.product-accessories .customNavigation a.next, .crosssell-products .customNavigation a.next, .productscategory-products .customNavigation a.next{
    left: 45px;
    right: auto !important;
}
.block-social li{ margin-left: 7px; margin-right: auto;}
#left-column{
    float: right;
}
body#checkout section.checkout-step .radio-block{
    text-align: right;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="1"] > li{
    padding-left: 0;
    padding-right: 20px;
}


.blog-image .blogicons .icon.zoom::before {
  left: auto;
  right: 0;
}

.blog-image .blogicons .icon.readmore_link::before {
  left: 0;
  right: auto;
}
.blog-item .blog-content-wrap .title a {
  float: right;
  text-align: right;
}
.lastest_block .blog_home{ float: right;}

.lastest_block.tmblog-latest .blog-item .blog-meta{float: right;}
.tmblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta{ text-align: right !important;}

.lastest_block .blog-item .blog-content-wrap .blog-created {
  float: right;
  margin: 0 5px 0 0;
  padding: 0 15px 0 0;
}
.lastest_block .blog-item .blog-content-wrap .blog-created::before {
  left: auto;
  padding: 0 2px 0 5px;
  right: 0;
}
.test-desc span{ float: right; right: 5px; left: auto;}
.form-control-select {
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll left 0.5rem center / 1.25rem 1.25rem;
  padding-left: 2rem;
  padding-right: 12px;
  text-align: right;
}
#module-psblog-list .blog-content-wrap, #module-psblog-category .blog-content-wrap{
  float: right;
}
.social-sharing li{ margin-left: 4px; margin-right: auto;}
.input-group .form-control{ float: right;}
.bootstrap-touchspin .input-group-btn-vertical > .btn{ margin-right: -1px; margin-left: auto;}
.quickview .product-actions .add-to-cart .material-icons, #product .product-actions .add-to-cart .material-icons {
  margin: -5px 0 0 5px;
}
#blockcart-modal .modal-title i.material-icons {
  margin-left: 7px;
  margin-right: auto;
}
#blockcart-modal .divide-right strong {
  float: right;
}
#blockcart-modal .cart-content strong {
  clear: both;
  float: right;
  text-align: right;
}
.products-selection .display li#grid {
  margin: 0 0 0 15px;
}
li.product-flag.new {
  left: auto;
  right: 10px;
}
li.product-flag.on-sale,li.product-flag.discount{ left: 10px; right: auto;}
li.product-flag.online-only{ right: 10px; left: auto;}
.product-cover .layer .zoom-in{ left: 0; right: auto;}
#product .product-tabcontent .nav-link{ margin-left: 10px; margin-right: auto;}
#product-details .label, .product-features h3{ margin-left: 10px;  margin-right: auto;}
.product-features > dl.data-sheet dd.value, .product-features > dl.data-sheet dt.name{ margin-left: 0.625rem; margin-right: auto;}
.blog-detail .extra-blogs ul {
  padding-left: 0;
  padding-right: 25px;
}
.blog-comment-block img {
  float: right;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: auto;
  margin-right: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  display: inline-block;
  float: right;
  margin-left: 15px;
  margin-right: auto;
  text-align: right;
}
#module-psblog-blog .blog-comment-block .offset-md-3{
  margin-left: 0;
  margin-right: 25%;
}
.blog-item .blog-content-wrap .blog-shortinfo{ float: right;}
.blog-item .blog-content-wrap{ text-align: right;}
.blog-meta .fa {
  padding-left: 5px;
  padding-right: 0;
}
.blog-meta > span {
  margin-left: 14px;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 0;
   display: inline-block;
  float: right;
}
#blog-listing .product-count, .Recnet-blog .product-count {
  float: right !important;
}
#blog-listing #pagination {
  float: left;
}
#blog-listing .pagination li, .Recnet-blog .pagination li{ margin:0 4px 0 0;}
#_desktop_user_info > .user-info a{ float: right; margin-right: auto; margin-left: 10px; text-align: right;}
#_desktop_user_info .user-info {
 
  text-align: right;
}
.bottom-line .pagination {
  float: left;
}
.Recnet-blog .product-count.float-xs-right {
  float: right !important;
}
.nav-inline .nav-item + .nav-item, .nav-inline .nav-link + .nav-link {
  margin-left: auto;
  margin-right: 1rem;
}
.custom-checkbox label {
  text-align: right;
}
body#checkout section.checkout-step .address-footer {
  text-align: right;
}
#product-modal .modal-content .modal-body .arrows .arrow-up, #product-modal .modal-content .modal-body .arrows .arrow-down {
  left: 15px;
  right: auto;
}
#_mobile_contact_link{
    float: right;
}
#search_filters .facet .facet-label{
    text-align: right;
}
#content-wrapper{ float: left;}
.tm-hometabcontent .tabs .nav-tabs .nav-item:first-child::after {
  display: none;
}
#checkout #content .col-md-4{ float: left;}
#checkout .col-md-8 {
  padding: 0 30px 0 20px;
}
	#_desktop_user_info .user-info, #_mobile_user_info .user-info{ left: 0; right: auto;}
#blogpage .blog-meta,#blogpage .blog-detail .blog-description {
  float: right;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-content {
  clear: both;
  display: inline-block;
}
.block_newsletter form input[type="text"]{ text-align: right;}
#index .blog-meta > span {
  margin-left: 0;
}
.fa::before {
    margin-left: 5px;
    margin-right: 0;
}
.secondary-blog .blog-item .blog-meta > span{
  float: right;
}
@media(max-width: 1449px){
		.product-title a {
		  float: right;
		  text-align: right;
		}
		.products .product_list li .product-description {
		  min-height: 75px;
		}
		.block-social li {
		  margin-left: 3px;
		  margin-right: auto;
		}
		#tmfootercmsblock {
		  padding: 0 0 0 10px;
		}
		.lastest_block .blog-item .blog-content-wrap .blog-created {
		  margin: 0 1px 0 0;
		  padding: 0 10px 0 0;
		}
		.blog-meta > span:last-child {
		  margin-left: 0;
		  padding: 0;
		}
		#products .product-title, .products .product-title, .product-accessories .product-title {
			  float: right;
		}
		#cart #content-wrapper {
		  margin-left: auto;
		  margin-right: 25px;
		}
		#checkout .col-md-8 {
		  padding: 0 25px 0 15px;
		}
}



@media (max-width: 1199px) {
    #tmcmsblock .right .text-content{
        margin: 0 !important;
    }

    .block-social{
        bottom: 10px;
    }
	.service-right {
	  text-align: center;
	}
	.icon-left1, .icon-left2, .icon-left3 {
	  float: none;
	  margin: 0 auto;
	}
	.icon-left1 {
	  background-position: 0 0;
	}
	.icon-left2 {
	  background-position: 0 -371px;
	}
	.icon-left3 {
	  background-position: 0 -745px;
	}
	#header #links_block_top li:last-child a {
	  padding-left: 0;
	  padding-right: 14px;
	}
	.footer-container .links {
	  padding: 0 12px 0 0;
	}
	#tmpaymentcmsblock {
	  float: left;
	  padding: 0 15px 0 0;
	}
	#tm_vertical_menu_top .more-view {
	  padding: 12px 50px 11px 15px;
	}
	.vertical-menu .top-menu a[data-depth="0"] {
	  padding: 0;
	}
	.pagination .col-md-8 {
	  float: left;
	}
	#cart #content-wrapper {
	  margin-left: auto;
	  margin-right: 20px;
	}
	#cart .product-line-grid .col-md-6.col-xs-2.price {
	  padding: 0;
	}
	#checkout .col-md-8 {
	  padding: 0 20px 0 0;
	}
	#order-items .qty {
	  padding: 0;
	}
	#order-items .qty .col-xs-5 {
	  font-size: 12px;
	  letter-spacing: 0;
	  padding: 0;
	}
	#order-items .qty .row {
	  margin: 0;
	}
	.lastest_block .blog-item .blog-content-wrap .blog-created {
	  margin: 0;
	  padding: 0;
	}
	#brand_list li.brand .brand-inner .brand-products{ padding: 0 15px 15px 0;}
}

@media (max-width: 991px) {
    #blockcart-modal .cart-content .btn-secondary{
        margin-bottom: 10px;
    }
    .block-social {
        bottom: 0px;
    }
    #left-column .block .block_title, #right-column .block .block_title, #left-column .links .h3, #right-column .links .h3{
        text-align: right;
    }
    #links_block_left,.footer-container .links{border:none;clear: both;}
    #header .header-nav #menu-icon{margin-left: 0;margin-right: 30px;}
    .social-sharing{ text-align: right; }
    .product-quantity .add{ margin-right:0px; }
    .block_newsletter form .col-xs-12{ padding-right: 0px; }
    
    #left-column, #right-column{ padding-left:0px; padding-right:0px; }
    #header .header-nav #menu-icon .nav-menu{
        padding-left: 5px;
        padding-right: 0;
        float: right;
    }
    .header-nav #tm_toplink{
        left: 0;
        right: auto;
    }

	.header-nav #links_block_top {
	  margin: 20px 0 0 20px;
	}
    .block-social{
        text-align: right;
        border-right: none;
        padding: 0;
    }
    .block_newsletter .title {
        margin: 0 30px 5px 10px;
        float: right;
    }
    #products .products .list li.product_item .thumbnail-container, #products .products .list li.product_item .center-block{
            text-align: right; 
    }
   
	.flexslider {
	  margin: 0;
	}
	#header .header-nav .cart-preview #bgimage {
	  left: auto;
	  right: -10px;
	}
	#_mobile_cart .cart-products-count{ padding: 0 15px 0 0;}
	#header .header-nav .blockcart{ margin:0;}
	#_mobile_user_info,.search-widget {
     margin-left: 6px;
	 margin-right: auto;
	}
	.search-widget {
	  float: left;
	}
	.searchtoggle{ left: 0; right: auto;}
	#header #links_block_top li::before{ display: none;}
	#tm_toplink{ text-align: right;}
	#header #links_block_top li:last-child a {
	  padding-right: 0;
	}
	#_mobile_user_info > .user-info a{ text-align: right; float: right; margin-left: 10px; margin-right: auto;}
	#_mobile_user_info > .user-info a span, #header .header-nav #_mobile_user_info .user-info .material-icons{ float: right;}
	#_mobile_user_info .user-info{ text-align: right;}
	#header .header-nav .currency-selector{ border-left: none; margin: 0;}
	#header .cart_block {
	  left: -20px;
	  right: auto;
	}
	#tmcms1block {
	  text-align: right;
	}
	.footer-container .links, #tmpaymentcmsblock {
	  padding: 0;
	}
	#block-contact_list i {
	  margin-top: 0;
	}
		.copyright {
	  text-align: center;
	}
	#cart #content-wrapper{ margin: 0;}
	#cart .product-line-grid .col-md-6.col-xs-2.price {
	  padding: 0 20px;
	}
	#header .header-nav .user-info .account {
	  margin: 0 0 10px;
	}
	#module-psblog-blog .blog-comment-block .offset-md-3{ margin-right: 0;}
	.blog-detail .blog-comment-block #blog-localengine .col-form-label {
	  float: right;
    text-align: right;
	}
	#header .header-nav .material-icons{
	  background-position: right 0 top -47px;
	}
}


@media (max-width: 767px) {

    #header .header-nav .top-logo{
        margin: 0 auto;
    }
    #blockcart-modal .cart-content{
        padding-right: 0;
    }
    .block_newsletter .title{
        margin-right: 0;
    }
    .block-social{
        padding: 0;
    }
    .products .product_list li.product_item:hover .product-actions, .products .product_list li.item:hover .product-actions{
        float: none;
    }
    .product-line-grid-right .bootstrap-touchspin{
        float: right !important;
    }
	#header .header-nav .cart-preview #bgimage {
	  left: auto;
	  right: -7px;
	}
	#header .cart_block {
	 left: -20px;
	 right: auto;
	}
	.tm-hometabcontent .tabs {
	  float: none;
	  left: 0;
	  right: 0;
	}
	.products .product_list li .product-miniature .product-actions {
	  transform: translateX(0px);
	  -webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	-moz-transform: translateX(0px);
	}
	.products .product_list li .product-description {
	  min-height: 105px;
	}
	#products .products .list li.product_item .center-block{ padding: 0;}
	#checkout .col-md-8 {
	  padding: 0 10px;
	}
	#blockcart-modal .divide-right, #order-items{ border-left: none;}
	#header .header-nav .user-info{ text-align: right;}
	#addresses .col-lg-4.col-md-6.col-sm-6{ float: right;}
	#password .btn {
	  margin: 20px 10px 20px 0;
	}
	#module-psblog-blog .blog-comment-block .offset-md-3 {
	  margin-right: 0;
	}
	.products-sort-order{ float: right;}
	#stores .page-stores .store-item-container .divide-left{ border-right: none; padding: 0;}
	#products .products .list li.product_item .center-block .product-title a {
	  text-align: right;
	}
	.product-title a {
	  text-align: center;
	}
	#products .product-description, .products .product-description, .product-accessories .product-description{ text-align: center;}
}




@media (max-width: 543px) {
	#brand_list li.brand .brand-inner .brand-products{ border-right: none;}
	#brand_list li.brand .brand-inner .brand-products{ padding: 0;}
}




@media (max-width: 480px) {
    .tabs .nav-tabs .nav-item:first-child .nav-link{
        background: none;
    }
    .productscategory-products .products-section-title, .crosssell-products .products-section-title, .product-accessories .products-section-title, .special-products .products-section-title{
        padding-left: 0;
    }

    .products-section-title{
        text-align: center;
    }

	.header-nav #links_block_top {
	  margin: 14px 0 0 10px;
	}
    #tmcmsblock .image1{
        float: none;
        margin: 0 0 20px;
    }
    #header .header-nav #menu-icon{
        margin-right: 10px;
    }
    .products-selection .filter-button{
        padding-left: 0px;
		padding-right: 0px;
    }
	#_mobile_user_info, .search-widget {
	  margin-left: 0px;
	  margin-right: auto;
	}
	.tm-hometabcontent .products-section-title{ float: none;}
	.tm-hometabcontent .tabs .nav-tabs .nav-item:last-child::after{ display: none;}
	.special-products .customNavigation a.prev, .lastest_block .customNavigation a.prev,#tmtestimonialcmsblock .customNavigation a.prev,
	.product-accessories .customNavigation a.prev, .crosssell-products .customNavigation a.prev, .productscategory-products .customNavigation a.prev{
	  left: -36px !important;
	  right: 0 !important;
	}
	.special-products .customNavigation a.next, .lastest_block .customNavigation a.next, #tmtestimonialcmsblock .customNavigation a.next,
	.product-accessories .customNavigation a.next, .crosssell-products .customNavigation a.next, .productscategory-products .customNavigation a.next{
	  left: 0 !important;
	  right: -36px !important;
	}
	.products .product_list li .product-description {
	  min-height: 130px;
	}
	#tm_footerlink li {
	  padding: 0 2px 0 6px;
	}
	#tm_footerlink li:first-child {
	  padding: 0 0 0 6px;
	}
	body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{ float: none;}
	#order-confirmation .done {
	  margin-left: 5px;
	}
	.crosssell-products .customNavigation {
      top: 10px !important;
  }
	#cart .product-line-grid .col-md-6.col-xs-2.price {
	  padding: 0 10px;
	}
	#blog-listing .product-count, .Recnet-blog .product-count, .Recnet-blog .product-count.float-xs-right {
	  float: left !important;
	  text-align: left;
	}
#tmsubbanner li:first-child{ margin-left: auto;}
}
.product-title a{
  float: right;
  text-align: right;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -khtml-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    -khtml-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}
.customNavigation a.next {
    left: 36px;
}
.magnitude {
    float: left;
}
#search_filters .facet .facet-label a{
  padding-left: 0;
  padding-right: 5px;
  width: 88%;
  letter-spacing: 0;
}
#tmtestimonialcmsblock .customNavigation a.next{
  left: auto !important;
}
#product #main .row .col-md-5 {
    padding-right: 0;
    padding-left: 25px;
}
.products-selection .total-products{
  float: right;
}
.products-selection > div{
  float: left;
}
body#checkout [data-action="show-password"]{
    border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#tm_vertical_menu_top .collapse-icons .add{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li:last-child {
    margin-left: 0 !important;
}
@media (max-width:1430px){
  #tmsubbanner ul{
    padding-right: 27px;
    padding-left: 0;
  }
  #search_filters .facet .facet-label a{
    width: 86%;
  }
  .vertical-menu .top-menu .sub-menu{
    left: auto;
    right: 224px;
  }
}
@media (max-width: 1399px){
  #tmsubbanner ul {
    padding-right: 25px;
    padding-left: 0;
  }
  #search_filters .facet .facet-label a{
    width: 85%;
  }
  #left-column .block .block_content, #right-column .block .block_content{
    padding: 1px 5px 5px;
  }
  #search_filters .facet .facet-label a{
    letter-spacing: -1px;
  }
  .custom-checkbox input[type="checkbox"] + span{
    margin-left: 0;
  }
  .vertical-menu .top-menu .sub-menu{
    right: 188px;
  }
}
@media (max-width:1199px){
  #tmsubbanner ul {
      padding-right: 18px;
      padding-left: 0;
  }
  #tmpaymentcmsblock {
      float: left;
      padding: 0 5px 0 0;
  }
  .tm-hometabcontent .tabs .nav-tabs {
      margin-left: 0;
      margin-right: 80px;
  }
  .vertical-menu .top-menu .sub-menu {
    right: 168px;
}
}
@media (max-width: 991px){
  .text-xs-left.mobile.hidden-lg-up.mobile-menu{
    float: right;
  }
  #header .header-nav .top-logo{
    margin-right: 18%;
    margin-left: 0;
  }
  #_mobile_cart .cart-products-count.shoppingproductcount{
    left: -8px;
    right: auto;
  }
  #mobile_top_menu_wrapper.slide .mobile-menu-inner{
    left: auto;
    right: 0;
  }
  #mobile_top_menu_wrapper .mobile-menu-inner{
    left: auto;
    right: -100%;
  }
  .tm-hometabcontent .tabs .nav-tabs {
      margin-left: 0;
      margin-right: 60px;
  }
  #tmpaymentcmsblock{
    padding: 0;
  }
  .cart-grid-right.col-xs-12.col-lg-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.products-selection .filter-button{
  float: left;
}
#search_filters .facet .facet-label a {
    width: 96%;
}
.test-desc > p{
    text-align: right;
  }
   #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
    right: 120px !important;
    left: auto !important;
}
#tmtestimonialcmsblock .customNavigation a.next {
    right: 80px !important;
    left: auto !important;
}
.block_newsletter form input.btn {
    margin-left: 0px;
    margin-right: 0;
    right: auto;
    left: 0;
}
.test-image{
  float: none;
}
.cms-box-heading{
  float: none;
  text-align: center;
  padding:0;
}
.test-desc > p{
  text-align: center;
}
}
@media (max-width:767px){
  #tmsubbanner li{
    float: none !important;
  }
  #tmsubbanner li:first-child {
      margin-bottom: 0;
      margin-right: 0 !important;
      margin-left: 10px !important;
  }#tmsubbanner ul{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .tm-hometabcontent .tabs .nav-tabs {
      margin-left: 0;
      margin-right: 0px;
  }
  .product-miniature .product-flags .new{
    left: auto;
    right: 10px;
  }
  .products .product-miniature .product-flags .new.on-sale, .products .product-miniature .online-only.on-sale, .products .product-miniature .on-sale.on-sale, .products .product-miniature .discount-percentage.on-sale{
    left: auto;
    right: 10px;
  }
  .products .product-miniature .product-flags .new.online-only, .products .product-miniature .online-only.online-only, .products .product-miniature .on-sale.online-only, .products .product-miniature .discount-percentage.online-only{
    right: auto;
    left: 10px;
  }
  .products-selection .filter-button{
    float: left;
  }
  #product #main .row .col-md-5 {
    padding-right: 0;
    padding-left: 0;
}
.product-line-grid-right.product-line-actions.col-md-5.col-xs-12{
  float: right;
}
#search_filters .facet .facet-label a {
    width: auto;
    letter-spacing: 0;
}
}
@media (max-width: 543px){
  #header .header-nav .top-logo{
    margin-right: 5%;
  }
}
@media (max-width:480px){
  #header .cart_block{
    left: 0;
    right: auto;
  }
  #left-column #tmtestimonialcmsblock .btn.prev.tmtestimonial_prev {
      left: 39% !important;
      right: auto !important;
  }
  #left-column #tmtestimonialcmsblock .customNavigation a.next {
    left: auto !important;
    right: 39% !important;
}
  #products .products .list li.product_item .thumbnail-container, #products .products .list li.product_item .center-block{
    text-align: center;
  }
  .block_newsletter form input[type="text"]{
    letter-spacing: 0;
  }
}
@media (max-width: 381px){
  #tmsubbanner li:first-child{
    margin-left: 7px !important;
  }
}
@media (max-width:345px){
  .block-social li{
    margin-left: 0;
  }
}