/* General */
/*===========================
KATRINE - Fonts
============================*/
@font-face {
  font-family: 'circular_std_book';
  src: url('fonts/CircularStd-Book.eot');
  src: url('fonts/CircularStd-Bookd41d.eot?#iefix') format('embedded-opentype'), url('fonts/CircularStd-Book.woff2') format('woff2'), url('fonts/CircularStd-Book.woff') format('woff'), url('fonts/CircularStd-Book.ttf') format('truetype'), url('fonts/CircularStd-Book.html#corporate_s_bqregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'circular_std_bold';
  src: url('fonts/CircularStd-Bold.eot');
  src: url('fonts/CircularStd-Boldd41d.eot?#iefix') format('embedded-opentype'), url('fonts/CircularStd-Bold.woff2') format('woff2'), url('fonts/CircularStd-Bold.woff') format('woff'), url('fonts/CircularStd-Bold.ttf') format('truetype'), url('fonts/CircularStd-Bold.html#corporate_s_bqregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'circular_std_med';
  src: url('fonts/CircularStd-Medium.eot');
  src: url('fonts/CircularStd-Mediumd41d.eot?#iefix') format('embedded-opentype'), url('fonts/CircularStd-Medium.woff2') format('woff2'), url('fonts/CircularStd-Medium.woff') format('woff'), url('fonts/CircularStd-Medium.ttf') format('truetype'), url('fonts/CircularStd-Medium.html#corporate_s_bqregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


